[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]ackages/com.unity.package-manager-ui/
UserSettings/
MemoryCaptures/
.obj/
*.user
*.csproj
*.sln
*.pidb
*.svd
*.userprefs
*.unityproj
*.booproj
*.orig
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
*.apk
*.aab
*.app
*.DS_Store
